set terminal png size 800,800 enhanced font "Helvetica,20";
set output "2minWalk.png";
set title 'Kate Zebrose - 2minute Walk (feet)';
set ytics font "Helvetica,10";
set xtics font "Helvetica,10";
set xlabel "Time";
set ylabel "Feet";
set style line 1 lt -1 lw 6;
set xdata time;
set timefmt "%Y-%m-%d";
set xrange ["2017-11-01":"TODAY"];
plot '2minWalk.dat' using 1:2;
