th,td {
  border:3px solid green;
  outline: 3px dotted purple;
}
.suggestedComment {
  background-color: aquamarine;
}
.addOnComment {
  background-color: lightblue;
}
.setOne {
  background-color: red;
  color: white;
}
.setThree {
  background-color: blue;
  color: white;
}
#goal1min {
  background-color: lightyellow;
  color: red;
  font-size: 30px;
}
