th,td {
  border:3px solid green;
  outline: 3px dotted purple;
}
ul,h3 {
  margin: 0px;
}
.singleButtons button{
  margin: 5px;
}
.singleButtons input{
  margin: 8px;
}
.suggestedComment {
  background-color: aquamarine;
  border-style:groove;
  border-width:3px;
  border-color:lightblue;
}
.addOnComment {
  background-color: lightblue;
  border-style:groove;
  border-width:3px;
  border-color:aquamarine;
}
.setOne {
  background-color: red;
  color: white;
}
.setThree {
  background-color: blue;
  color: white;
}
#goal1min {
  background-color: lightyellow;
  color: red;
  font-size: 30px;
}
